<h1>記事編集</h1>
<%= form_with(model: @article, local: true) do |article| %>
<h3>タイトル</h3>
<p><%= article.text_field :title, placeholder: "タイトル" %></p>
<h3>本文</h3>
<p><%= article.text_field :content, placeholder: "本文" %></p>
<p><%= article.submit value="保存" %></p>
<% end %>
<td><%= link_to '一覧', "/" %></td>
