<h1>マイページ</h1>
<p><%= flash[:success] %></p>
<p><%= flash[:alert] %></p>
<%= flash[:notice] %>
<%
=begin%>
 <% @article.errors %>
<%
=end%>
<%= link_to '記事作成', "/articles/new" %>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
  <td><%= article.title %></td>
  <td><%= article.content %></td>
  <td><%= link_to '詳細', "/articles/#{article.id}" %></td>
    <td><%= link_to '編集', "/articles/#{article.id}/edit" %></td>
    <td><%= button_to '削除', article ,method: :delete %>
  </tr>
  <% end %>
</table>
